<%#<h1>Test#index</h1>
<p>Find me in app/views/test/index.html.erb</p>%>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="This is description">
		<meta name="viewport" content="width=device-width,initial-scale">
		<title>This is title</title>
	</head>
	<body style="background: aqua;">
		<!--this is comment-->
		<header>
			<nav></nav>
		</header>
		<main>
			<h1>H1</h1><h2>h2</h2><h3>h3</h3><h4>h4</h4><h5>h5</h5><h6>h6</h6>
			<p>paragraph with <b>bold </b><i>italic </i><b><i>both </i></b></p><p>another paragraph</p><br/><p>paragraph with breacc</p>
			<hr/><p>horizontal rule</p>
			<p><big>big </big><small>small </small><sub>subscript </sub><sup>superscript </sup></p>
			<p style="color: red;background-color: blue">this has color</p>
			<article>
				<section></section>
			</article>
			<aside>aside</aside>
			<a href="https://www.youtube.com"><h3>To youtube</h3></a>
			<a href="https://www.twitter.com" target="_blank"><h3>To twitter new tab</h3></a>
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Cat_November_2010-1a.jpg/1200px-Cat_November_2010-1a.jpg" alt="" width="360" height="360" />
			<video src="" controls width="" height="" poster="" autoplay loop >if video fails</video>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/FHRXP8ceeBU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autoplay></iframe>
			<ul><li>this</li><li>is a list</li></ul>
			<ol type=""><li>this</li><li>is ordered list</li></ol>
			<dl><dt>this</dt><dd>is descriptive</dd></dl>
			<table><caption></caption><tr><td>tabledata</td></tr></table>
			<span>inline</span>
			<div>blocc</div>
			<form>
			<input type="text" name="name">
			<input type="password" value="defaultvalue">
			<textarea></textarea>
			<input type="" name="">
			</form>
			<iframe src="https://www.w3schools.com" width="800" height="500" frameborder="0"></iframe>
		</main>
	<footer></footer>
	</body>
</html>